<style>
    .label_question {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border: none;
        /*font: normal normal bold 20px/1 "abel", Helvetica, sans-serif;*/
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: white;
        text-align: center;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
</style>
<label class ="label_question" >
    Questions? Call us at <b>999-999-99</b>
</label>
@*<p></p>*@